{% extends 'base.html' %}
{% block title %}Inicio-Admin{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicios.css') }}">
{% endblock %}
{% block content %}
<div class="container" id="main">
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="/users" class="btn btn-primary">Usuarios</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4" style="margin-top: .5em;">
            <a href="/nuevo_user" class="btn btn-primary">Nuevo usuario</a>
        </div>
    </div>
</div>
{% endblock %}